{
  presets: [
    [
      '@babel/preset-env',
      {
        loose: false,
        spec: false,
        forceAllTransforms: true,
        modules: false,
        exclude: ['transform-regenerator']
      }
    ]
  ]
}
